############
# Required #
############
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ADMIN_CHAT_ID=

############
# Optional #
############
AI_SERVICE=openai/azure
OPENAI_API_KEY=
OPENAI_MODEL=
AZURE_API_KEY=
AZURE_API_ENDPOINT=
AZURE_API_VERSION=
AZURE_MODEL_NAME=

###########
# Default #
###########
# Num rows
ROWS=5

# Num columns
COLUMNS=5

# Probability of an ecosystem emerging if there are none currently alive
NEW_ECO_PROB=0.2 # 20%

# Variation that each message adds to the probability of ecosystem evolution
# Therefore, each message increases the probability of ecosystem evolution by X
PROB_PER_MESSAGE=0.01 # 1%

# Probability of an ecosystem dying suddenly (epidemic, meteorite, etc)
ECO_PROB_DIE=0.02 # 2%

# Variation of aging added in each evolution to the probability of sudden death of the ecosystem
ECO_INCREASE_ELD=0.001 # 0.1%

# Probability of an organism dying suddenly (disease, being eaten by another species, accident, etc)
ORG_PROB_DIE=0.05 # 5%

# Variation of aging added in each evolution to the probability of sudden death of the organism
ORG_INCREASE_ELD=0.001 # 0.1%